

*{
    color: #333;
    background-color: #f6f6f6;
    font-family: "Space Grotesk";
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
    line-height: 30px;
}

section{
    border-width: 1px;
    border-color: rgba(51, 51, 51, 0.295);
    border-style: solid;
}

.header{
    border-bottom: none;
}

h1{
    font-size: 40px;
    text-align: center;
}

h3{
    cursor: pointer;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    color: #f6f6f6;
    background: linear-gradient(to right, #f32170,#ff6b08, #cf23cf, #eedd44);
}

#pictures{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.images{
    height: 300px;
    width: 400px;
    object-fit: cover;
}