

:root{
    --background: #192c54;
    --primary: #333;
    --white: #fafafa;
    --cards: #182748;
    --green: #61b347;
}

body{
    padding: 0;
    margin: 0;
    background-color: var(--green);
    font-family: "gameovercre";
    color: white;
}

#first-container{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 60%;
    padding: 20px;
    border-bottom: 4px solid white;
}

.again{
    font-family: "gameovercre";
    font-size: 20px;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
}

#second-container{
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#one{
    background-color: white;
    position: absolute;
    right: 40%;
    bottom: -15%;
    width: 200px;
    height: 70px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    font-size: 30px;
}

.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.guess{
    text-align: center;
    font-size: 35px;
    letter-spacing: 10px;
}

.bottom-one{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bottom-two{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
